.titulo{
    background-color: red;
}

.margen{
    margin:2% 2% 2% 2%;
    padding-right: 10%;
    padding-left: 10%;
}

.title-listado{
    margin: 2% 10px 10px 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr;
    grid-gap: 10px;
    text-align: center;
    padding: 0% 2% 0% 2%;
    
}

.listado{
   /* border: 1px solid blue;*/
    padding: 0% 2% 2% 2%;
    margin: 10px;
}

.ligrid{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr;
    grid-gap: 10px;
    text-align: center;
    border-top: solid 0.5px gainsboro;
    padding: 5px;
}

.btn-edit{
    background: url(pencil-fill.svg) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
}

footer {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(215, 211, 211, 0.258);
    column-gap: 1%;
}


.header{
    height: 80px;
    background-color: #e3f2fd;
}

@media(max-width: 600px) {

    footer {
        font-size: small;
    }
    header{
        height: 30px;
    }

}